VITE_SUPABASE_URL=https://supabase.artoria.cl
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzcxMDM4MDAwLCJleHAiOjE5Mjg4MDQ0MDB9.9gJt5uMXBlDvFQC7CsRt7hU1Kch1NqNZJ27U7kek9CU
